/* Set background color */
body {
    background-color: #f7f2ef !important;
}

/* Set sidebar background color */
.main-sidebar {
    background-color: #ffdc96 !important;
}

/* Set top navbar background color */
.main-header.navbar {
    background-color: #ffdc96 !important;
    color: #c29a76; /* Using specified color for text */
}

/* Set color for buttons and links */
.btn-primary, .nav-link {
    background-color: #ffdc96 !important;
    border-color: #ffdc96 !important;
    color: #c29a76; /* Using specified color for text */
}

/* Set text color */
.content-wrapper, .content-header, .content-wrapper p, .content-header h1, .content-header h2, .content-header h3 {
    color: #c29a76 !important; /* Using specified color for text */
}

/* Set icon color */
.icon, .fa, .fas, .far, .nav-icon {
    color: #000000 !important; /* Setting icons to black */
}

/* Optional: Customize other elements as needed */
